# dependencies
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

# Next.js
.next/
out/
build/
dist/

# production
.vercel/

# env files
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store
Thumbs.db

# editor / IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# testing / coverage
coverage/
.nyc_output/

# misc
*.pem
